@let _tasks = tasks();

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h5>Feladataid</h5>
    <button class="btn btn-primary" (click)="openModal()">Feladat hozzáadása</button>
  </div>

  @if (_tasks.length === 0) {
    <div class="text-muted">
      Nincsen feladatod rögzítve.
    </div>
  }

  @if (_tasks.length > 0) {
    <ul class="list-group">
      @for (task of _tasks; track task) {
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div>
      <strong>{{ task.text }}</strong><br />
    </div>
    <div>
      
    </div>
  </li>
}

    </ul>
  }
</div>

<!-- Modal -->
<div class="modal fade" tabindex="-1" id="taskModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Feladat rögzítése</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="taskText" class="form-label">Feladat</label>
          <input type="text" id="taskText" class="form-control" [(ngModel)]="newTaskTitle" />
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
        <button class="btn btn-success" (click)="saveTask()">Rögzítés</button>
      </div>
    </div>
  </div>
</div>


